<h1>Change Password</h1>

<% if flash.now[:password_error] %><%= flash.now[:password_error] %><% end %>


<%= form_tag change_password_path do  %>
    <%= label_tag :current_password %>
    <%= password_field_tag :current_password %>
    <%= label_tag :new_password %>
    <%= password_field_tag :new_password %>
    <%= submit_tag "Update Password"  %>
<% end %>